.conteiner {
  width: 50%;
  display: flex;

  &--img {
    background-color: $background-color-image;
    justify-content: center;
    align-items: center;
  }

  &--info {
    background-color: white;
    flex-direction: column;
    padding: $espaciado;
  }

  .conteiner__image {
    width: 80%;
    height: auto;
  }
}
