$default-border-color: #dbdbdb;
$hover-border-color: #b5b5b5;
$focus-border-color: #3273dc;
$invalid-border-color: #ff0000;
$valid-border-color: #00d1b2;
$alto: 40px;

$tamano: 32px;
$espaciado: 40px;
$subtitulo: 36px;
$margin-subtitulo: 20px;

//Boton//

$background-color: #00d1b2;
$hover-background-color: #00c4a7;
$active-background-color: #00b89c;
$altura: 40px;

$background-color-image: #ebd0d3;

$link-color: #3273dc;
$link-color-hover: #363636;
